[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DIDmultiplegtDYN"]
	path = DIDmultiplegtDYN
	url = https://github.com/credible-answers/did_multiplegt_dyn
	subdir = R
[submodule "TwoWayFEWeights"]
	path = TwoWayFEWeights
	url = https://github.com/credible-answers/twowayfeweights
	subdir = R
